[submodule "3rdparty/munit"]
	path = 3rdparty/munit
	url = https://github.com/roblabla/munit
	branch = msvc2002
[submodule "3rdparty/Detours"]
	path = 3rdparty/Detours
	url = https://github.com/roblabla/Detours
